{% extends "admin/change_list.html" %}

{% load i18n admin_urls static admin_list %}
{% load file_extras %}

{% block result_list %}
    {% regroup cl.result_list by path as path_list %}
    {% with path_list|group_by_dir as files_orders %}
        {% for dirname in files_orders %}
            <h4>/{{ dirname }}</h4>
            <ul>
                <table class="table">
                    <tbody>
                    {% for file in files_orders|get_item:dirname %}
                      <tr>
                        <td width="30px"><a style="color: red; font-weight: bold;" href="{{ file.id }}/delete">x</a></td>
                        <td><a href="{{ file.id }}">{{ file }}</a></td>

                      </tr>
                    {% endfor %}

                    </tbody>
                </table>

            </ul>

        {% endfor %}
    {% endwith %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}


